*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .f-s-13 {
    font-size: 12px;
    }
    #cart{
        font-size: 14px;
    }
  }

.toast{
    animation: show 2.5s forwards ;
}
@keyframes show {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
#product-counter{
    font-size: 10px !important;
}
#product-counter-fav{
    font-size: 10px !important;
}
@media (max-width:700px){
    .carousel-item img {
        height: 60vh !important;
}
}
.text-mute{
    color: #949697 !important;
}

.product:hover{
    transform: translateY(-10px) !important;
    transition: .4s !important;
}
.category:hover{
    transform: translateY(-10px) !important;
    transition: .4s !important;
}
@media screen and (min-width: 985px) and (max-width: 1730px) {
    .banners-last-divs {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        width: 80% !important;
        height: 100%  !important;
        width: 100% !important;
        gap:1rem !important;
        max-height: 63vh;
    }
}

@media (max-width:978px) {
    #filter{
        display: none !important;
    }

}
@media (min-width:979px) {
    .filter-mob{
        display: none !important;
    }
}
.add-to-fav:hover .fav-btn:first-child{
    transform: scale(1.3) !important;
}
